@import "~antd/dist/antd.less";
@import "../../styles/themeOverrideVariables.less";
@import "themeOverride.less";
@import "autocomplete.less";

* {
  z-index: 1;
}

#root {
  background: darken(@primary-color, 20%);
}

#root .loader {
  color: @bright;
  text-align: center;
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-content {
  margin-left: 300px;
  overflow: auto;
  height: 100vh;
}

.dashboard__popover__menu {
  width: 150px;
  background: @third-color;
  padding: .5rem;
}

.dashboard__popover__link {
  background: @third-color;
  padding: .3rem .7rem;
  display: flex;
  // font-size: 1rem;
  justify-content: space-evenly;
  align-items: center;
  transition: background .2s ease-in-out;
  &:hover {
    background: lighten(@third-color, 1%);
  }
}

.logo {
  padding: .7rem;
  color: @secondary-color;
  background: darken(@primary-color, 10%);
}

.record {
  padding: 2.5rem;
  background: @bright;
}

.record-header {
  background: lighten(@third-color, 2%);
  padding: .6rem 2.5rem;
  border-bottom: 1px solid lighten(@secondary-color, 5%);
  border-top: 1px solid lighten(@secondary-color, 5%);
  button {
    margin: 0 .3rem;
  }
}

.record-add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.record-add-button {
  padding: .7rem 2.3rem;
  height: auto;
}

.record-add-button--sidebar {
  margin: 0 auto;
  display: block;
}

.record-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ant-form-item {
    flex: 1;
    margin-bottom: 0;
  }
}

.record-password--actions {
  margin: 20px 0 0 10px;
}

.record-password-meter {
  label {
    font-size: 11px;
  }
  .ant-checkbox-group {
    padding: 7px;
    display: block;
    float: right;
  }
}

.record-notes {
  padding-top: 18px;  
}
