@import "~antd/dist/antd.less";
@import "../../styles/themeOverideVariables.less";
@import "../../styles/dashboard/themeOverride.less";
@import "../../styles/dashboard/autocomplete.less";

* {
  z-index: 1;
}


.dashboard-content {
  margin-left: 200px;
}

.logo {
  padding: .7rem;
  color: white;
  background: #29214d;
}