@import "~antd/dist/antd.less";
@import "themeOverides.less";

* {
  z-index: 1;
}

.ant-layout-header {
  background: #32354f;
}

.container {
  padding: 0 50px;
}

.header__logo {
  color: @primary-color;
}

.hero__gradient {
  background-image: linear-gradient(to right top, #005eeb, #225dec, #345ced, #415aed, #4c59ee);
}

.hero {
  height: 70vh;
  padding-top: 50px;
}

.hero__forms {
  background: #fff;
  color: #222;
  padding: 1.2rem 2.5rem;
}

.hero__title {
  font-size: 3rem;
  color: whitesmoke; 
}

.hero__subtitle {
  font-size: 1.6rem;
  color: whitesmoke; 
}

.tabs__forms {
  display: block;
    width: 45%;
    float: left;
}

.SignUp-form {
  display: flex;
  flex-direction: column;
}

.features {
  height: 40vh;
}

.features__desc {
  flex-grow: 1;
  text-align: center;
  // flex-basis: 350px;
}

.features__icon {
  font-size: 3rem;
  margin-top: 1em;
  color: #2a5dec;
  padding: 1.2rem;
  border: 2px solid black;
  border-radius: 50%;
}

.features__title {
  padding-top: .6rem;
}