@import "~antd/lib/style/themes/default.less";

@primary-color: #4b5bec;
@info-color:#4b5bec;
@success-color: #47d86b;
@processing-color: #4b5bec;
@error-color: #ff5297;
@highlight-color: #ff5297;
@warning-color: #ff886a;
@normal-color: #ffc355;